.jumbotron {
  padding: 25px;
  padding-top: 15px;
  text-align: center;
  background-color: aliceblue;
}

.panel-heading {
  font-size: 20px;
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

p {
  display: hidden;
}